# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\training\ITRONAugSep2020-master (1)\ITRONAugSep2020-master\MyFirstSpringMVCProject-3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
